#section-1 {
    margin: 0 auto;
    max-width: 997px;
    padding: 4rem 0;
}

#section-1 h1 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    /* color: #333; */
}


#section-1 p {
    font-size: 1rem;
    color: #999;
    /* letter-spacing: 1px; */
}

#section-1 button {
    margin-top: 5px;
    border: 1px solid #333;
    /* color: #333; */
}

#section-1 .img {
    background-color: red;
}

@media (max-width: 768px) {
    #section-1 button {
        width: 100%;
        /* color: #333; */
    }
    
}