.navbar {
    position: fixed;
    width: 100%;   
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    transition: all 1s, background-image 2s;
}

.navbar.navbar-dark {
    background-color: #333;
    color: white !important;
}

.navbar .nav-brand {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;

    /* background-color: rgba(0, 0, 0, 0.6); */
    
    height: 80px;
    color: white;
}

.navbar .nav-brand .brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-brand .brand .logo {
    padding: 0 15px;
    border-right: 1px solid #999;
}

.navbar .nav-brand .brand .logo img{
    width: 100%;
    height: auto;
}

.navbar .nav-brand .brand h4 {
    padding: 0 15px;
    /* border-right: 1px solid #999; */
}

.nav-menu {
    /* display: flex; */
    
    /* height: 36px; */
    /* background-color: #999; */
    /* width: 100%; */
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    list-style: none;
}

.nav-menu ul li {
    padding: 10px 20px;
    color: white;
    transition: all 1s step-start;

    cursor: pointer;
}

.nav-menu ul li.active {
    border-bottom: 2px solid white;
}

.nav-menu ul li:not(.dropdown):hover{

    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid white;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content{
    display: block;
}

@media screen and (max-width: 790px) {
    .nav-menu {
        display: none;
    }

    .banner {
        height: auto;
    }
}


ul.dropdown-content{
    display: none;
    position: absolute;
    left: 0;

    width: 100%;
    z-index: 9999;
    background-color: #333;
    opacity: 0.9;
    /* width: 15%; */
    margin-top: 10px;
    padding: 0;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    list-style: none;
}

ul.dropdown-content li{
    font-size: 14px;
    padding: 15px 5px !important;
    color: white;
    transition: all 0.3s;
}

ul.dropdown-content li:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border: none !important;
    /* color: red; */
}

