.navbar {
    position: fixed;
    width: 100%;   
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    transition: all 1s, background-image 2s;
}

.navbar.navbar-dark {
    background-color: #333;
    color: white !important;
}

.navbar .nav-brand {
    display: flex;
    margin: 0 auto;
    max-width: 997px;
    padding:  1rem 4vw;

    align-items: center;
    justify-content: space-between;
    /* padding: 50px 100px; */

    /* background-color: rgba(0, 0, 0, 0.6); */
    
    height: 80px;
    color: white;
}

.navbar .nav-brand .brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-brand .menu-expand {
    display: none;
    margin-right: 10px;
}

.navbar .nav-brand .brand .logo {
    padding-right: 15px;
    border-right: 1px solid #999;
}

.navbar .nav-brand .brand .logo img{
    width: 100%;
    height: auto;
}

.navbar .nav-brand .brand h4 {
    padding: 0 15px;
    /* border-right: 1px solid #999; */
}

.nav-menu {
    /* display: flex; */
    
    /* height: 36px; */
    /* background-color: #999; */
    /* width: 100%; */
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-menu button{
    display: none;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    list-style: none;
}

.nav-menu ul li {
    padding: 10px 20px;
    color: white;
    transition: all 1s step-start;

    cursor: pointer;
}

.nav-menu ul li.active {
    border-bottom: 2px solid #b20710;
}

.nav-menu ul li:not(.dropdown):hover{

    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid #b20710;
}

.dropdown {
    position: relative;
}

.dropdown:focus .dropdown-content{
    display: block;
}

@media screen and (max-width: 790px) {
    /* .nav-menu {
        display: none;
    } */
    .nav-menu {
        height: 100vh;
        width: 0; 
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        background-color: #272727;
        overflow-x: hidden;
        transition: 0.6s;
    }

    .nav-menu button{
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;

        color: white;
        background: transparent;
        border: none;
        text-decoration: none;


        font-size: 40px;
    }

    .nav-menu ul:not(.dropdown-content){
        height: 100%;
        padding: 6rem 0;
        flex-direction: column;
        justify-content: start;
    }

    .nav-menu ul li{
        margin-top: 20px;
        font-size: 20px;
    }

    ul.dropdown-content{
        display: block !important;
        position: initial !important;
        background-color: transparent !important;
        text-align: center;
        height: 0;
        overflow: hidden;
        transition: opacity 1s;
    }

    ul.dropdown-content li{
        margin-top: 0 !important;
        font-size: 16px !important;
        /* font-weight: bold; */
        padding: 20px none !important;
    }

    .banner {
        height: auto;
    }

    .navbar .nav-brand .brand .logo {
        border: none !important;
    }

    .navbar .nav-brand .brand h4, .navbar .nav-brand .social {
        display: none;
    }

    .navbar .nav-brand .menu-expand {
        display: block;
    }
}


ul.dropdown-content{
    display: none;
    position: absolute;
    left: 0;

    width: 100%;
    z-index: 9999;
    background-color: #333;
    opacity: 0.9;
    /* width: 15%; */
    margin-top: 10px;
    padding: 0;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    list-style: none;
}

ul.dropdown-content li{
    font-size: 14px;
    padding: 15px 5px;
    color: white;
    transition: all 0.3s;
}

ul.dropdown-content li:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border: none !important;
    /* color: red; */
}

/*	SIDENAV	*/


