#contato {
    padding: 4rem 0;
}

#contato .content {
    margin: 0 auto;
    /* background-color: red; */
    max-width: 1100px;
    height: 300px;
  
}

#contato h1{
    text-align: center;
    font-size: 34px;
    color: #333;
}

#contato .divider {
    margin: 3px auto;
    height: 4px;
    background-color: #b20710;
    width: 10%;
    border-radius: 60px;
}

.form-row {
    display: flex;
    align-items: center;

}

form .form-group {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

form .form-group label{
    color: #ACACAC;
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: 100%;
}

form .form-group input{
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #eee;
}